{%extends 'Galeria/base.html'%}
{%block title%}Memorias del simposio 2020{%endblock%}
{%block content%}
{%load static %}
<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
		<div class="row mt-30">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/UEr-YtOComw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/UEr-YtOComw">Cápsula de Área químico biológico - Ana Sofia Torres & Ingrid Sofia Altamirano</a></h2>
						</div>
					</div>
				</div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/2uujojKRwMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/2uujojKRwMI">Área QB_ Proyecto Orientación Vocacional - Michelle Vargas Martínez & Danna Zúñiga Robles</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/MIeOOPfXST0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/MIeOOPfXST0">Área Químico-Biológico - Frida Argueta Alejandre</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/MeAGo4QkCAI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/MeAGo4QkCAI">Área Químico-Biológico: ¿por qué estudiar en esta área? - Rubí Aguíñiga</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/M7nAckkiYgY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/M7nAckkiYgY">Área Químico-Biológico - karen valeshka castellano</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/M7nAckkiYgY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/M7nAckkiYgY">Bachillerato Quimico Biologico - Fernando Villaseñor</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/PQTfWASbREU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/PQTfWASbREU">QUIMICO BIOLOGICO - JOSE ANTONIO CONTRERAS CHAVEZ</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/02thqv-SJ9s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/02thqv-SJ9s">Fisico Matematico - Caleb Tellez</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/N8t3hZsbVWE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/N8t3hZsbVWE">capsula informativa, Andrea villalon Yael Ocaña</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/4W9vIefxxA4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/4W9vIefxxA4">Físico- matemático - ANDREA ESTEFANÍA ALANIS DOMÍNGUEZ</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/4bFoAM1DFtA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/4bFoAM1DFtA">Presentación Físico Matemático - JUAN MANUEL GONZALEZ TAPIA</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/vdcwghwJJHs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/vdcwghwJJHs">Area de físico matemático - CYNTHYA SARAHY CASTRO NUÑEZ</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/CJHGXhEFQy4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/CJHGXhEFQy4">capsula informativa historico social - BRYAN SAID MIRANDA PEREZ</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/6nv7NZxqYTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/6nv7NZxqYTc">EXAMEN - Arlette Colín</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/fzZIPkeLlmQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/fzZIPkeLlmQ">Proyecto de Orientación Vocacional_área HS - NATALIA GUZMAN CHAVEZ</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/EV_f11Ao-7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/EV_f11Ao-7E">Área Económico-Administrativo(MATERIA:CONTABILIDAD) - Alondra Carrillo</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/Iim64_jOn-w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/Iim64_jOn-w">Área Económico-Administrativo(MATERIA:ECONOMÍA) - Alondra Carrillo</a></h2>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="">
							<iframe width="350" height="250" src="https://www.youtube.com/embed/HKne2otYRNc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="https://youtu.be/HKne2otYRNc">Económico Administrativo AAGA - AlexAG</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->
{%endblock%}